@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My App</h1>
    <p>Xin chào, Uniee đang đợi bạn gia nhập</object></p>
    <a href="@Url.Action("Index", "Person")" class="btn btn-primary">
        Go to Person List
    </a>
</div>